# Resources #
log4j2_MD.xml

# Built Files #
*.class
/out/

# Logs Files #
*.log
/logs/

# Virtual Vachine crash logs, #
# See http://www.java.com/en/download/help/error_hotspot.xml #
hs_err_pid*

# Package Files #
# *.jar
*.zip
*.war
*.ear
*.tar.gz
*.rar

# Eclipse Files #
# .project
# .classpath

# Intellij Files #
# *.iml
# /.idea/

# mpeltonen/sbt-idea plugin #
/.idea_modules/
