#Resources


# Built Files
*.class
/out/

# Log file
*.log

# Virtual Vachine crash logs,
# See http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Package Files
# *.jar
*.zip
*.war
*.ear
*.tar.gz
*.rar

# Eclipse
# .project
# .classpath

# Intellij
*.iml
/.idea/

# mpeltonen/sbt-idea plugin
/.idea_modules/